<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.corina.deutschlernen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/welcome_deutsch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Meniu2" />
        <activity android:name=".ListaCuvinte" />
        <activity android:name=".DetaliiStructura" />
        <activity android:name=".gradpartikeln" />
        <activity android:name=".meniuGramatica" />
        <activity android:name=".nDekl" />
        <activity android:name=".wissenKennenKonnen" />
        <activity android:name=".RelativPronomen" />
        <activity android:name=".diatezaPasiva" />
        <activity android:name=".VbLoc2" />
        <activity android:name=".VbFinal" />
        <activity android:name=".NachdemSatze" />
        <activity android:name=".TestVocabular" />
        <activity android:name=".HinHer" />
        <activity android:name=".DeclAdj" />
        <activity android:name=".Pronume" />
        <activity android:name=".Fehlerere" />
        <activity android:name=".TestVocabularLista" />
        <activity android:name=".DetaliiStructuraRomanaGermana" />
        <activity android:name=".Prepozitii"></activity>
    </application>

</manifest>